@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Add style to the body of webpage */
body {
    background-color: rgb(68, 128, 240);
    font-family: 'Pacifico', 'cursive';
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 0px black;


}

header {
    margin-bottom: 20px;
    background-color: #05258f;
    border-bottom: 5px solid white;
    height: 120px;
}

header h1 {
    padding-top: 20px;
}


section h2 {
    margin-bottom: 0px;

}

section>ul {
    margin-top: 0px;

}

/* Style the images thats are the main buttons of the game*/

#game {
    font-size: 0.8em;
    height: 10px;
    margin-top: 100px;
    background-color: rgb(68, 128, 240);
    ;
}


ul {
    margin-top: 30px;
}

#image-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 200px;
    justify-content: center;

}

img {
    height: 150px;
}

#rock {
    margin-right: 10px;
    display: none;
}

#paper {
    display: none;

}

#scissors {
    margin-left: 10px;
    display: none;

}

.rps {
    padding-top: 20px;
    background-color: #05258f;
    height: 200px;
    width: 200px;
    padding-top: 1px;
    border: 5px solid white;
    border-radius: 15px;

}

.rps:hover {
    cursor: pointer;
    background-color: #5273df;
    transform: scale(1.1);

}

/* style box-area box which will appear before the player starts the game*/
.message-box {
    background-color: #05258f;
    height: 300px;
    width: 600px;
    margin: auto 0px;
    border: 5px solid white;
    border-radius: 40px;
}

ul {
    margin-top: 30px;
}

.box-area>ul {
    list-style-type: none;
}

.box-title {
    margin-top: 20px;
    margin-bottom: 0px;

}

#lose-box{
    display: none;
}
#lose-box > p{
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
}
#win-box{
    display: none;
}


#win-box > p{
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
}
/* style unordered list at the opening text*/


ul {
    list-style-position: inside;
    margin-bottom: 40px;
}

/* style div contained outside the scores*/

#score-container {
    height: 150px;
    margin-bottom: 0px;


}

/* style computer and users div */

.computer,
.user {
    font-size: 0.9em;
    background-color: #05258f;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 100px;
    border: 5px solid white;


}

.computer {
    float: left;
    margin-left: 400px;
    padding-bottom: 5px;
}

.user {
    float: right;
    margin-right: 400px;
    padding-bottom: 5px;

}

/* style result div that appears below the images*/
#result {
    font-size: 1.6em;
    font-weight: bold;
}


#message {
    height: 150px;
    margin-bottom: 100px;
    font-size: 1.6em;
}

.playbtn {
    font-size: 0.9em;
    background-color: #05258f;
    border: 5px solid white;
    font-family: 'Pacifico', 'cursive';
    height: 80px;
    width: 190px;
    border-radius: 40px;
    color: white;
    margin-top: 100px;
    text-shadow: 3px 3px 0px black;

}

.playbtn:hover {
    cursor: pointer;
    background-color: #5273df;
    transform: scale(1.1);

}
#play-again {
    
}

/* make website responsive for large screeens*/


@media only screen and (max-width: 1848px) {
    .computer {
        margin-left: 400px
    }

    .user {
        margin-right: 400px;
    }

}

@media only screen and (max-width: 1383px) {
    .computer {
        margin-left: 300px;
    }

    .user {
        margin-right: 300px;
    }

}

/* make website responsive for medium size screeens*/

@media only screen and (max-width: 1075px) {
    .computer {
        margin-left: 200px;
    }

    .user {
        margin-right: 200px;
    }

}

@media only screen and (max-width: 898px) {
    .computer {
        margin-left: 150px;
    }

    .user {
        margin-right: 150px;
    }

    .computer,
    .user {

        font-size: 0.7em;
        margin-top: 40px;

    }

    #score-container {
        padding-bottom: 10px;

    }

    .rps {
        height: 180px;
        width: 180px;
    }

    #image-container {
        margin-top: 30px;
    }

    #play-game {
        font-size: 0.7em;

    }

    #game {
        margin-bottom: 50px;
    }


}

@media only screen and (max-width: 697px) {
    .computer {
        margin-left: 50px;
        width: 30%;
    }

    .user {
        margin-right: 50px;
        width: 30%;

    }

    #box-area {
        width: 400px;
        height: 400px;
    }

    #play-game {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 571px) {

    .rps {
        height: 140px;
        width: 140px;
    }

    img {
        height: 100px;
    }

    #play-game {
        margin-top: 200px;
    }

}

/* make website responsive for small size screeens*/

@media only screen and (max-width: 483px) {
    header {
        height: 100px;
    }

    body {
        font-size: 1.1em;
    }

    #rock {
        margin-right: 0;
    }

    #scissors {
        margin-left: 0;
    }

    .rps {
        height: 100px;
        width: 100px;
    }

    img {
        height: 80px;
    }

    #image-container {
        margin: 0;

    }

    .user {
        margin-right: 40px;
    }

    .computer {
        margin-left: 40px;
    }

    #play-game {
        margin-top: 150px;
        margin-bottom: 200px;
    }

    #box-area {
        width: 300px;
        height: 300px;
    }

}

@media only screen and (max-width: 338px) {
    .user {
        margin-right: 10px;
        width: 120px;

    }

    .computer {
        margin-left: 10px;
        width: 120px;
    }

    header {
        height: 140px;
    }
}