@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
  }

/* Add style to the body of webpage */
body{
    background-color: rgb(14, 90, 231);
    font-family: 'Pacifico', 'cursive';
    font-size: 1.5em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0px black;
}

header{
    margin-bottom: 20px;
    background-color: #05258f;
    border-bottom: 1px solid rgb(72, 129, 235);
    height: 120px;
}
header h1{
    padding-top: 20px;
}
/* Style the main logo */

ul{
    margin-top: 50px;
}


#image-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 180px;
    background-color: #05258f;
    justify-content: center;
    justify-content: space-around;

    
}

.rps{
    padding-top: 20px;
    height: 160px;
    width: 160px;
    padding-top: 1px;
    border: 5px solid rgb(14, 90, 231);
    ;

}

.rps:hover{
    cursor: pointer;
    transition: 3.0ms;
    background-color: white;
}

ul{
    list-style-position: inside;
    margin-bottom: 40px;
}

 
.computer{
    float: left;
    width: 40%;
    justify-content: center;
    align-items: center;

}

.user{
    float: right;
    width: 40%;
    justify-content: center;
    align-items: center;
}

#choice-container{
    height: 600px;

}

@media only screen and (max-width: 450px) {
    header{
        height: 160px;
    }
}
