@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
  }

/* Add style to the body of webpage */
body{
    background-color: rgb(14, 90, 231);
    font-family: 'Pacifico', 'cursive';
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 0px black;
}

header{
    margin-bottom: 20px;
    background-color: #05258f;
    border-bottom: 5px solid white;
    height: 120px;
}
header h1{
    padding-top: 20px;
}
/* Style the main logo */

ul{
    margin-top: 50px;
}

#image-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 200px;
    justify-content: center;    
}

#rock{
    margin-right: 10px;
}
#scissors{ 
    margin-left: 10px
}


.rps{
    padding-top: 20px;
    background-color: #05258f;
    height: 160px;
    width: 160px;
    padding-top: 1px;
    border: 5px solid white;
    border-radius: 15px;

}

.rps:hover{
    cursor: pointer;
    background-color: #5273df;
    transition: 0.10s;

}

ul{
    list-style-position: inside;
    margin-bottom: 40px;
}


#score-container{
    height: 150px;
    margin-bottom: 0px;
    background-color: rgb(14, 90, 231);


}
.computer, .user{
    font-size: 0.9em;
    background-color: #05258f;
    width: 20%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 100px;
    border: 5px solid white;


}

.computer{
    float: left;
    margin-left: 400px;
}

.user{
    float: right;
    margin-right: 400px;

    
}
#result{
    height: 150px;
    margin-bottom: 100px;
    font-size: 1.6em;
}


@media only screen and (max-width: 657px) {
    header{
        height: 180px;
    }
}